@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body, html {
    font-family: 'Dongle', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 11px;
    height: 100%;
}
body {
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.card {
    background-color: var(--white);
    border-radius: 15px;
    margin: auto;
    max-width: 80%;
    padding: 12px;
    position: relative;
    top: 15vh;
    width: 280px;

}

.card .qr-container {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;

}

.card .qr-container .qr-code {
    height: 100%;
    width: 100%;
}

.card .info {
    width: 90%;
    margin: auto;
    text-align: center;
}

.card .info .title {
    color: var(--dark-blue);
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;

}